@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;800&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.container {
    width: 1216px;
    margin: 0 auto;
}

header {
    color: white;
    background-image: url("./img/image\ 23.png"), linear-gradient(black, black);
    background-position: right;
    background-repeat: no-repeat;
}

nav {
    padding: 44px 0;
}

nav table {
    width: 100%;
}

nav table td {
    width: calc(100% / 3);
}

nav table td:nth-child(2) {
    text-align: center;
}

nav table td:nth-child(3) {
    text-align: right;
}

nav table a {
    padding: 8px 20px;
    border: 1px solid white;
    color: white;
    font-weight: 600;
    font-size: 16px;
    border-radius: 48px;
    text-decoration: none;
}

.hero {
    width: 662px;
}

.hero h1 {
    font-weight: 700;
    font-size: 64px;
    line-height: 120%;
    margin-bottom: 40px;
}

.hero p {
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
    padding-right: calc(662px - 541px);
    margin-bottom: 24px;
}

.hero .line {
    border-top: 2px solid #ffffff;
    margin-bottom: 18px;
}

.hero {
    padding-bottom: 118px;
}

.hero a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.hero a img {
    margin-bottom: -9px;
    margin-right: 16px;
}

.serch-filter {
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 0px 20px 24px -4px rgba(16, 24, 40, 0.08),
        0px 8px 8px -4px rgba(16, 24, 40, 0.03);
    border-radius: 16px;
    padding: 20px;
    margin-top: 34px;
}


.search-filter td a{
    padding: 16px 24px;
    background-color: black;
    font-weight: 600;
    border-radius: 64px;
    border: none;
    text-decoration: none;
    color: white;
}
.search-filter table tr td{
    padding: 10px;
}

.search-filter table{
    width: 100%;
}

.search-filter input{
    
}